* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #0a192f;
    font-family: 'Poppins', sans-serif;
}

nav {
    color: #f8f9fa;
    text-align: center;
    padding-top: 75px;
    font-weight: bolder;
}

.logo {
    letter-spacing: 3px;
    font-size: 45px;
}

.logo:hover {
    color: #e9c46a;
    cursor: pointer;
}

.nav-links a {
    color: #f8f9fa;
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-links a:hover {
    color: #e9c46a;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.main {
    color: #f8f9fa;
    padding: 10px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.main h1 {
    color: #e9c46a;
    font-weight: bolder;
    font-size: 35px;
}


.resume {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.main h2 {
    padding: 10px;
}

.main p {
    padding: 10px;
}

.resume h3 {
    font-size: 15px;
}

.year {
    float: left;
    width: 25%;
    padding: 10px;
}
  
.years-cols {
    margin: auto;
    width: 90%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.year li {
    list-style-position: inside;
}

.semester {
    padding: 10px;
}